// variables
/* Base Colours*/
$light-color:   #f4f4f4;
$dark-color:    #615d5da8;    

$white: #fff;
$black: #000;
$red:   #f31; 
$blue:  #112f66;

/* Primary Colours */
$primary-color:     #0e6cff;
$secondary-color:   #ff8700;

/* Font */
$font-stack:        'Ubuntu', sans-serif;
$base-size:    16px;


